:root {
  --mainColor:rgba(156, 48, 133, 0.815);
}

/*header-styles*/
.header-terminal{
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background:#E8D5D5;

}
.acronym{
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

b{
  font-size: 20px;
}
/* i {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 1px,
       transparent 5px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
} */

/* i:hover {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent
     );
} */

/*media  queries*/
/*mobile*/
@media only screen and (max-width: 600px) {
  .header-terminal {
    font-size: 10px;
  }
.acronym{
  font-size: 10px;
}
.social-media{
  margin-top:30px;
}
b{
  font-size: 15px;
}
}

/*tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
  .header-terminal {
    font-size: 10px;
  }
.acronym{
  font-size: 10px;
}
.social-media{
  margin-top:30px;
}
b{
  font-size: 15px;
}
}